{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/b.css'%}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="{% static 'image/YOKA.png' %}" width="140px" height="140px" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'nos_stars' %}" data-bs-toggle="dropdown">Artistes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'beats_disponibles' %}">beat</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-5">
    <h2 class="text-center">Soutenir notre projet</h2>
    <p class="text-center">Votre soutien est précieux pour nous aider à héberger les beats, payer les artistes, et développer notre plateforme.</p>

    <div class="text-center mt-4">
        <!-- Bouton pour ouvrir le modal -->
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#donModal">
            Faire un don
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="donModal" tabindex="-1" aria-labelledby="donModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donModalLabel">Soutenir Asane Beat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body text-center">
        Vous pouvez nous soutenir en nous envoyant un don sur<br>
        <strong>Orange Money : 0853048932</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
